[submodule "third_party/transformers"]
	path = third_party/transformers
	url = https://github.com/Summer-Summer/transformers.git
	branch = hf-4.53.2
[submodule "third_party/lm-evaluation-harness"]
	path = third_party/lm-evaluation-harness
	url = https://github.com/Summer-Summer/lm-evaluation-harness.git
	branch = kitty
