# Core numeric & measurement
numpy==1.26.4
codecarbon==2.2.3
psutil>=5.9.0,<6.0.0

# Utilities / dev
rich>=13,<14
platformdirs>=4,<5
pydantic>=2.6,<3
requests>=2.31,<3.0  # for Ollama API calls
pandas
ollama

matplotlib
scipy
seabron